@font-face {
  font-family: "vampire wars";
  src: url("../asset/vampire_wars_copy/Vampire_Wars.ttf") format("Truetype");
}
main{
background-color: black;
}
.hero video{
  height: 600px;
  width: 100%;
}
header h1{
  font-size: 80px;
  font-family: vampire wars;
  text-align: center;
  color: white;
}
#unkown{
  display: block;
  justify-content: center;
}
main{
  justify-content: center;
  padding: 90px;
}
body{
background-color: red;
}
