@font-face {
  font-family: "vampire wars";
  src: url("../../asset/vampire_wars/Vampire_Wars.ttf") format("Truetype");
}
body{
  background-color: red;
  margin: 0px;
}
#uka_logo{
  width: 15%;
  padding: 5px;
}

.header{
  background-color: darkred;
display: flex;
align-items: center;
justify-content: space-between;
border-radius: 17px 17px 0px 0px;
font-family: vampire wars;
padding: 10px;
font-size: 20px;
margin: 0px;
}
.header h1{
  text-align: center;
  display: flex;
}
.portfolio{
  width: 20%;
}
.nav ul{
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  padding: 10px;
  color: white;
  margin: 0px;

}
.nav li{
  text-align: center;
  padding: 10px;
  list-style-type: none;
  margin: 0px;
}
.nav{
  padding: 10px;
  margin: 0px;
  background-color: black;
}
.nav a:hover{
  color: grey;
  background-color: red;
}
.nav a{
  color: white;
  text-decoration: none;
  padding: 10px 50px;
}
.footer{
  background-color: black;
}
.footer-top{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.footer-bottom{
  display: flex;
  justify-content: flex-end;
}
#facebook_icon{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
#instagram_icon{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
#Snapchat_icon{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
#facebook{
  width: 5%;
}
#instagram{
  width: 5%;
}
#snapchat{
  width: 5%;
}
.content{
  background-color: darkgrey;
  padding: 10px;
}
.content ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0px;
}
.content li{
  text-align: center;
  padding-left: 0px;
  padding: 10px;
  margin: 0px;
  font-family: vampire wars;
}
#email_icon{
  width: 10%;
  padding: 5px;
}
#phone_icon{
  width: 10%;
  padding: 5px;
}
.Icon_images{
  display: flex;
  justify-content: space-between;
  padding: 2px;
  padding-left: 0px;
  margin: 0px;
}
