@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
.header{
  font-family:IM Fell English SC;
  display: flex;
  justify-content: space-between;
  background-color: darkgrey;
  text-align: center;
}
body{
  margin: 0px;
  background-color: black;
}
#lion_logo{
  width: 20%;
  padding: 10px;
}
.header h1{
  padding: 60px;
  padding-left: 0px;
  font-size: 30px;
}
.my-nav ul{
  font-family: IM Fell English SC;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin: 0px auto;
  list-style-type: none;
  width: 100%;

}
.my-nav li{
  font-size: 13px;
}
.my-nav{
  background-color: black;
  padding: 10px;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.my-nav a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
.my-nav a:hover{
  color: grey;
  background-color: white;
}
#dragon_drawing{
  width: 100%;
  height: auto;
  margin: 0px;
  opacity: 50%;
}
.content{
  color: white;
  font-family:IM Fell English SC;
  background-image: url('../asset/dragon_drawing.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.content h2{
  font-size: 20px;
padding: 5px;
}
.content p{
  font-size: 14px;
  text-align: center;
}
.content h3{
  font-size: 20px;
  padding: 5px;
}
.content h4{
  font-size: 15px;
  padding: 5px;
}
.content h5{
  font-size: 15px;
  padding: 5px;
}
.content h6{
  font-size: 15px;
  padding: 5px;
}
.footer{
  background-color: darkgrey;
}
#lion{
  width: 30%;
  max-width: 150px;
}
.footer-top{
  display: flex;
  justify-content: center;
}
#fire{
  width: 100%;
  height: 200px;
}
.footer-bottom{
  padding-left: 0px;
  margin-bottom:  0px;
}
.grid-item{
  border: 2px solid white;
}
.grid-wrapper{
display: grid;
grid-template-columns: auto auto auto;
}
.content-text{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
}
.grid-wrapper{
  width:100%;
}
.grid-item img{
  width: 100%;
}
.slide{
  width: 95%;
  margin:auto;
}
.carousel-item{
  width: 100%;
}
  @media only screen and (min-width:800px){
  .header{
  align-items: center;
  }
  #lion_logo{
    width: 10%;
  }
  .my-nav li{
    font-size: 24px;
  }
  .content-text{
    padding: 15px;
    text-align: center;
    font-size: 90px;
  }
  .slide{
    width: 90%;
  }
  .grid-item{
    width: 100%;
  }
  #lion{
    width: 100%;
    height: auto;
  }
  #fire{
    width: 100%;
    height: auto;
  }
  .content p{
    font-size: 20px;
  }
  .carousel-item{
    width: 95%
  }
  .header h1{
    font-size: 50px;
  }
  }
  @media only screen and (min-width:1200px){
    #lion_logo{
      width: 15%;
    }
    .header h1{
      font-size: 40px;
    }
    .slide{
      width: 85%
    }
    .content-text{
      padding: 30px;
      text-align: center;
      font-size: 30px;
    }
    #lion{
      width: 100%;
      height: auto;
    }
    .grid-item{
      width: 100%;
      height: auto;
    }
  }
@media only screen and (min-width:1500px){
  .header h1{
    font-size: 45px;
  }
  #lion_logo{
    width: 10%;
  }
  .slide{
    width: 75%;
  }
  .my-nav ul{
    font-size: 24px;
  }
  .content-text{
    padding: 20px;
    text-align: center;
    font-size: 25%;
  }
  .grid-item{
    width: 100%;
    height: auto;
  }
  #fire{
    width: 100%;
    height: auto;
  }
}
