body{
  background-color: darkgrey;
  font-family: inherit;
}
#uka_logo{
  width: 20%
}
.header{
  background-color: red;
display: flex;
align-items: center;
padding: 20px;
justify-content: space-between;
border-radius: 17px 17px 0px 0px;
}
.portfolio{
  width: 20%;
}
.nav li{
list-style-type: none;
display: inline;

}
.nav li:hover{
  color: red;
}
.nav ul{
padding-left: 0px;
display: flex;
justify-content: space-between;
}
.nav{
  background-color: grey;
  padding: 20px;
}
.content{
  padding: 20px;
  background-color: darkred;
  color: white;
}
.footer{
  background-color: black;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer img{
  width: 20%;
  display: block;
}
.main{
  border: 5px solid black;
  border-radius: 20px;
}
.nav a{
  color: black;
}
#facbook_icon{
  width: 5%;
  justify-content: space-between;
}
.footer-top{
display: flex;
}
.footer-bottom{
  display: flex;
  justify-content: flex-end;
  wid
}
