@font-face {
  font-family: "vampire wars";
  src: url("../asset/vampire_wars/Vampire_Wars.ttf") format("Truetype");
}
body{
  background-color: darkgrey;
  font-family: inherit;
}
#uka_logo{
  width: 20%
}
.header{
  background-color: red;
display: flex;
align-items: center;
padding: 20px;
justify-content: space-between;
border-radius: 17px 17px 0px 0px;
font-family: vampire wars;
}
.portfolio{
  width: 20%;
}
.nav li{
list-style-type: none;
display: inline;

}
.nav ul{
padding-left: 0px;
display: flex;
justify-content: space-between;
}
.content{
  padding: 20px;
  background-color: darkred;
  color: white;
}
.footer{
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.footer img{
  width: 20%;
  display: block;
}
.main{
  border: 5px solid black;
  border-radius: 20px;
}
.nav a{
  color: black;
  padding: 10px 50px;
  text-decoration: none;
}
#facebook_icon{
  width: 5%;
  padding: 10px;
}
.footer-top{
display: flex;
justify-content: center;
width: 100%;
padding: 10px;
padding-left: 0px;
}
.footer-bottom{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#instagram_icon{
  width: 5%;
  padding: 10px;
}
#Snapchat_icon{
  width: 5%;
  padding: 10px;
}
.nav a:hover{
  color: red;
  background-color: darkred;
}
