/* GALLERY PAGE CSS */
#uka_logo{
  width: 15%;
  padding: 5px;
}
.main{
  background-color: red;
  border: solid red;
  border-radius: 5px;
}
.header{
  display: flex;
  align-items: center;
  padding-left: 0px;
  padding: 10px;
  justify-content: space-between;
}
.header h1{
  text-align: center;
  display: flex;
}
.nav{
  margin: 0px;
  background-color: black;

  border-radius: 5px;
}
.na{
  width: 15%;
}
.nav ul{
color: white;
display: flex;
padding-left: 0px;
justify-content: space-between;
width: 66%;
margin: 0px auto;
}
.nav li{
  list-style-type: none;
}
.nav a:hover{
  color: red;
  background-color: grey;

}
.nav a{
  color: white;
  padding: 10px 50px;
  text-decoration: none;
}
#hero_image{
  width:100%;
   border-radius: 5px;
   align-items: center;
   display: flex;
   justify-content: center;
}
#Cross_tattoo{
background-color: darkred;
}
/* #dragon_eye_tattoo{
  width: 26%;
}
#Leo_tattoo{
  width: 26%;
}
#Straw_hat_crew_tattoo{
  width: 25%;
}
#the_big-5_tattoo{
  width: 25%;
}
#wolf-and-lion_tattoo{
  width: 25%;
}
#dragon_tattoo{
  width: 15%
} */
.grid-wrapper{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap: 10px;
  align-items: center;
}
.grid-wrapper img{
  width: 100%;
  background-color: darkred;
}
.footer{
  background-color: black;
}
body{
  background-color: darkgrey;
  border: 10px solid darkgrey;
  border-radius: 5px;
}
.footer-top img{
  width: 15%;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.footer-top{
justify-content: center;
display: flex;
width: 100%;
}
.footer-bottom{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#facebook_icon{
 width: 5%;
 padding: 10px;
}
#instagram_icon{
  width: 5%;
  padding: 10px;
}
#Snapchat_icon{
  width: 5%;
  padding: 10px;
}
